<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Form</title>
</head>
<body>
{{ friend | json }}
<h1>Friend Book Form</h1>

<form #formName="ngForm" id="Form" method="POST">
  <input type="text" placeholder="First name" name="firstname" #firstName="ngModel"  [(ngModel)]="friend.firstName" required><br>

  <input #lastname="ngModel" type="text" id="lastname" name="lastname" [(ngModel)]="friend.lastName" required><br>

  <input #email="ngModel" type="email" id="email" name="email" [(ngModel)]="friend.email" required><br>

  <input #phoneNumber="ngModel" type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="friend.phoneNumber" required><br><br>

  <app-dropdown></app-dropdown>

  <button>Submit</button>
</form>


</body>
</html>
